body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

header{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 40px 20px ;
}
section{
    padding: 30px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}
h1,h2{
    margin-bottom: 10px;
}


/* Header */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(to right,#1f1f1f,#3a3a3a);
    color: white;
    text-align: center;
}
.hero-text h1{
    font-size: 40px;
    
}
.hero-text p{
    margin: 15px 0;
    font-size: 18px;
}
.hero button{
    padding: 10px 20px;
    border: none;
    background-color: #ff9800;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.hero button:hover{
    background-color: #e67900;
}
/* Navbar */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #111;
    color: white;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: white;
}

.nav-links a:hover{
    color:#ff9800 ;
}

/* navbar basic responsive */
                            
@media(max-width:768px){
    .nav-links{
        flex-direction: column;
        gap: 10px;
    }
    .hero-text h1{
        font-size: 28px;
    }
}